arabic-reshaper
beautifulsoup4
camelot-py[cv]
chardet
deep-translator
docx2pdf
DrissionPage
googletrans
img2table
lxml
numpy
odfpy
opencv-python
openpyxl
pandas
pdf2image
pdfplumber
pillow
pyautogui
pypandoc
PyPDF2
pytesseract
python-bidi
python-docx
pywin32
reportlab
requests
selenium
selenium-recaptcha-solver
seleniumbase
tabula-py
undetected-chromedriver
urllib3
webdriver-manager
